{% if items|length == 0 %}
	{{ "user.no_items"|trans }}
{% else %}
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>{{ "user.username"|trans }}</th>
				<th>{{ "user.name"|trans }}</th>
			</tr>
		</thead>
		<tbody>
		{% for entity in items %}
			{% set link = path_localized('user.edit', {'id': entity.id}) %}
			<tr>
				<td>
					<a href="{{ link }}" class="fbold display-block inner-table-link js-expand-to-row">
						{{ entity.id }}
					</a>
				</td>
				<td>
					<a href="{{ link }}" class="display-block inner-table-link js-expand-to-row">
						{{ entity.name }}
					</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}
