{% extends layout %}

{% block content %}
	<style type="text/css">{% include "DevtureUserBundle/css/login.css" %}</style>

	<form name="devture_user_login" id="devture_user_login" class="form-signin" method="post" action="" role="form">
		{% if error %}
			<div class="text-danger">{{ error|trans }}</div>
			<br />
		{% endif %}

		<fieldset>
			<input type="text" class="form-control" placeholder="{{ "devture_user.username"|trans }}" name="username" required="required" autofocus>
			<input type="password" class="form-control" placeholder="{{ "devture_user.password"|trans }}" name="password" required="required">
			<button type="submit" class="btn btn-lg btn-primary btn-block">
				{{ "devture_user.log_in"|trans }}
			</button>
		</fieldset>
	</form>
{% endblock %}

{% block js %}
	{{ parent() }}
{% endblock %}
